
@{
    ViewBag.Title = "Total student instructors";
}

<h2>Total student instructors</h2>

<br />

@Html.Partial("AjaxDataGrid")

<br />

@section scripts {
    <script>

        viewModel.grid = new AjaxGridViewModel(
            '@Url.Action("List")', //url
            false //hasSearchBox
        );

    </script>

}
